    /*
@media only screen and (min-width: 1001px) { }
@media only screen and (min-width: 1px) and (max-width: 1000px) { }
*/

body {
    /*flex: auto;
   	margin: 0px;
	width: calc(100% - 50px);
	overflow: auto;*/
	/*padding: 10px;*/
    background-color: #d1d1d1;
}

.blackBorder {
    border-radius: 8px;
    border: 3px solid black;
}

/* NAVBAR */

.navbar {
    /* http://codeconvey.com/create-simple-pur-css-sticky-header/ */
    width: 100%;
    height: 60px; 
    position: fixed; 
    top: 0;
    left: 0;
    background: #FF3B3F;
    font-family: "Lato";
    z-index: 1;
}

.navbar ul {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a {
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

.navbar ul li a:hover {
    /*color: #727272;*/
    color: black;
}


/* SIDEBAR */
.categories {
    position: fixed;
    left: 25px;
    top: 100px;
    width: 10%;
}


.checkboxgroup{
    /*width: 11%;*/
    position: relative;
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 3px solid black;
    font-size: 19px;
    font-family: "Lato";
    height: 245px;
    top: -60px;

}

.checkboxgroup label{
    width: 90%;
    float: right;
}


#openCat {
    font-size: 20px;
    cursor: pointer;
    font-family: "Lato";
    position: fixed;
    top: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /*z-index: 1;*/
    top: 100px;
    left: 1%;
    /*background-color: #111;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav closebtn:hover, .offcanvas closebtn:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}



/* REGISTER */

.sectionRegister {
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    background: #EFEFEF;
    height: 300px;
    margin-top: 100px; /* !!!!!!!!!!!!*/
    border-radius: 8px;
    /* https://designschool.canva.com/blog/website-color-schemes/ clean and highlighted 08 */
}

.register {
    /*margin-top: 100px;*/
    /*margin-left: 25%;
    height: 150px;
    width: 50%;
    text-align: center;
    border: 1px solid black;*/
}

.registerTable {
    width: 100%;
    height: 100px;
    font-size: 17px;
    /*border-radius: 8px;
    border: 3px solid black;*/
    font-family: "Lato";
}

.formReg {
	width: 450px;
	margin: 0 auto;
    /*text-align: right;*/
    /*margin-top: 100px;*/
}

.rightTable {
    text-align: center;
}

.leftTable {
    text-align: right;
}

#submitRegister {
    /*margin-left: 50%;*/
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 3px solid #ff3b3f; /* Green */
    font-size: 19px;
    font-family: "Lato";
    cursor: pointer;
}

.alreadyReg {
    text-align: left;
}

#submitAlreadyReg {
    /*margin-left: 50%;*/
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 2px solid #ff3b3f; /* Green */
    font-size: 15px;
    font-family: "Lato";
    width: 207px;
    cursor: pointer;
}

.submitRegisterDiv {
    text-align: center;
}

.divReg {
    height: 250px;
}

#logoNav {
    position: fixed;
    left: 15px;
}

/* LOGIN */

.sectionLogin {
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    background: #EFEFEF;
    height: 230px;
    margin-top: 100px; /* !!!!!!!!!!!!*/
    border-radius: 8px;
    /* https://designschool.canva.com/blog/website-color-schemes/ clean and highlighted 08 */
}

.divLog {;
    height: 180px;
}

.loginTable {
    width: 100%;
    height: 70px;
    font-size: 17px;
    /*border-radius: 8px;
    border: 3px solid black;*/
    font-family: "Lato";
}

.leftTableLog {
    text-align: right;
}

.submitLoginDiv {
    text-align: center;
}

.formLog {
	width: 300px;
	margin: 0 auto;
    /*text-align: right;*/
    /*margin-top: 100px;*/
}

#submitLogin {
    /*margin-left: 50%;*/
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 3px solid #ff3b3f; /* Green */
    font-size: 19px;
    font-family: "Lato";
    cursor: pointer;
}

#submitAlreadyLog {
    /*margin-left: 50%;*/
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 2px solid #ff3b3f; /* Green */
    font-size: 15px;
    font-family: "Lato";
    width: 210px;
    cursor: pointer;
}


/* TASKS */
.sectionTasks {
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    background: #EFEFEF;
    margin-top: 100px;
    border-radius: 8px;
    position: relative;
}

.dailyTasks {
    margin: 15px;
}

.categoryTasks {
    margin: 15px;
}

.dailyTasksList {
    list-style-type: none;
    display: inline-flex;
    margin:  10px;
    flex-wrap: wrap
}

.categoryTasksList {
    list-style: none;
    display: inline-flex;
    margin:  10px;
    flex-wrap: wrap;
}

.task {
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Lato";
    margin: 10px;
    padding: 5px;
    float: left;
    height: 90%;

}

.task button {
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 3px solid #ff3b3f;
    font-size: 14px;
    font-family: "Lato";
}

.task header {
    font-weight: bold;
}


.taskHeader {
    font-size: 19px;
    font-weight: bold;
    font-family: "Lato";
    padding: 10px;
}

#addTaskButton {
    border-radius: 8px;
    background-color: #EFEFEF;
    color: black;
    border: 3px solid #ff3b3f;
    font-size: 19px;
    font-family: "Lato";
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#addTaskButton a {
    color: black;
    text-decoration: none;
}

/* PRODUCTIVITY */
.sectionProductivity {
    width: 75%;
    margin: 0 auto;
    padding: 40px;
    background: #EFEFEF;
    margin-top: 100px;
    border-radius: 8px;
    position: relative;
}

.productivity header {
    font-size: 19px;
    font-weight: bold;
    font-family: "Lato";
    padding: 10px;
}

.graphProd {
    margin: 15px;
}

.graphContainer {
    width: 50%;
    margin: 0 auto;
}

.summaryProd {
    margin: 15px;
}

#graph {
    margin: 20px;
    border: 2px solid black;
}

#hidden {
    overflow: hidden;
}
