<!DOCTYPE html>
<html>

<head>
    <title>To-do List - Log in</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href ="css/styles.css">
    <script src="js/code.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li id="logoNav">
                <img src="img/logo.png" alt="LOGO" height="45">
            </li>

        </ul>
    </nav>

    <section class="sectionLogin">
        <h2 class="hidden">A</h2>
        <div class="login">
            <header class="divHeader newApp">Your new favourite to-do app.</header>
            <form class="formLog" action="tasks.html">
                <div class="divLog blackBorder">
                    <table class="loginTable">
                        <tr>
                            <td class="leftTableLog">Email: </td> <td><input type="email" required name="email" class="rightTable"></td>
                        </tr>
                        <tr>
                            <td class="leftTableLog">Password: </td> <td><input type="password" required name="pwd" class="rightTable"></td>
                        </tr>
                    </table>
                    <br>
                    <div class="submitLoginDiv">
                        <input type="submit" value="Login" id="submitLogin">
                    </div>
                </div>
                <br>
                <div class="alreadyLog">
                    <a href="register.html" id="submitAlreadyLog">Not registered yet? Sign up here</a>
                </div>
            </form>
        </div>
    </section>
    <div class="hidden">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>


</body>

</html>