<!-- The Modal for LOGOUT -->
<div id="logoutModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="closeLogout">×</span>
      <h2><%= __("Are you sure you want to log out") %>?</h2>
    </div>
    <div class="modal-body">
      <p>
        <button class="modalButton" id="doLogout"><%= __("Yes") %></button>
        <button class="modalButton" id="cancelLogout"><%= __("Cancel") %></button>
      </p>
    </div>
  </div>
</div>
